@charset "UTF-8";
* {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "微软雅黑";
}

a {
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

/*上下居中:@include tb*/
/*左右居中: @include lr*/
/*居中:@include center*/
/*圆:@include yuan*/
/*宽高:@include wh($w,$h)*/
/*调试所用边框：@include border*/
/*图片居中：@include img-center*/
body {
  background: #F4F4F4;
  font-size: 14px;
}

input, select, textarea {
  border: 0;
}

.headda {
  width: 100%;
  background: #13587F;
  height: 102px;
}

.headda #head {
  width: 1200px;
  height: 102px;
  background: #13587F;
  margin: 0 auto;
}

.headda #head .headleft {
  width: 205px;
  height: 100%;
  background: red;
  float: left;
  margin-left: -206px;
}

.headda #head .headmiddle {
  height: 100%;
  border-color: green;
  float: left;
  margin-left: 27px;
  padding-top: 15px;
}

.headda #head .headmiddle ul {
  width: 175px;
  height: 100%;
  float: left;
  padding: 10px;
  font-size: 15px;
  color: #FFFFFF;
}

.headda #head .headmiddle ul li a {
  color: #FFFFFF;
}

.headda #head .headmiddle ul li img {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.headda #head .headright {
  height: 100%;
  float: right;
  margin-left: 0px;
  padding-top: 30px;
  position: relative;
}

.headda #head .headright .headsou {
  width: 300px;
  height: 35px;
  float: left;
  border: 2px solid #B8C3CE;
  border-radius: 50px;
}

.headda #head .headright .headsou .dian {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  padding-right: 15px;
}

.headda #head .headright .headsou .da {
  float: right;
  margin-top: 3px;
  margin-right: 4px;
}

.headda #head .headright .headsou #zhen {
  width: 130px;
  height: 36px;
  float: left;
  border: 0;
  background: none;
}

.grxx-text {
  width: 1120px;
  height: 1100px;
  background: #fff;
  margin: 0 auto;
  margin-top: 8px;
  padding-top: 20px;
}

.grxx-text .text-nei {
  margin-left: 175px;
  margin-right: 175px;
  margin-top: 63px;
}

.grxx-text .text-nei div {
  margin: 20px 0;
}

.grxx-text .text-nei img {
  margin-left: 60px;
}

.grxx-text .text-nei .nc {
  width: 180px;
  height: 33px;
  margin-left: 52px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #6B6A6A;
  margin-right: 30px;
}

.grxx-text .text-nei .xb {
  width: 60px;
  height: 33px;
  margin-left: 52px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #6B6A6A;
  margin-right: 30px;
  text-align: center;
  line-height: 33px;
}

.grxx-text .text-nei .nl {
  width: 60px;
  height: 33px;
  margin-left: 52px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #6B6A6A;
  margin-right: 30px;
  text-align: center;
  line-height: 33px;
}

.grxx-text .text-nei .qm {
  width: 425px;
  height: 76px;
  margin-left: 52px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #6B6A6A;
  margin-right: 30px;
  vertical-align: top;
  resize: none;
  margin-bottom: 50px;
}

.grxx-text .text-nei .zsxm {
  width: 182px;
  height: 33px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #6B6A6A;
  margin-right: 30px;
  margin-left: 23px;
}

.grxx-text .text-nei .sfzt {
  width: 372px;
  height: 33px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #6B6A6A;
  margin-right: 30px;
  margin-left: 20px;
}

.grxx-text .text-nei .qzyx {
  width: 135px;
  height: 33px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #6B6A6A;
  margin-right: 30px;
  margin-left: 13px;
}

.grxx-text .text-nei .sheng {
  width: 92px;
  height: 33px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #6B6A6A;
  margin-right: 30px;
  margin-left: 20px;
}

.grxx-text .text-nei .shi {
  width: 92px;
  height: 33px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #6B6A6A;
  margin-right: 30px;
  margin-left: 20px;
}

.grxx-text .text-nei .mbxz {
  width: 182px;
  height: 33px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #6B6A6A;
  margin-right: 30px;
  margin-left: 12px;
}

.grxx-text .text-nei .sjhm {
  width: 182px;
  height: 33px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #6B6A6A;
  margin-right: 30px;
  margin-left: 12px;
}

.grxx-text .text-nei .yx {
  width: 182px;
  height: 33px;
  margin-left: 40px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #6B6A6A;
  margin-right: 30px;
  margin-bottom: 50px;
}

.grxx-text .text-nei .byyx {
  width: 182px;
  height: 33px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #6B6A6A;
  margin-right: 30px;
  margin-left: 12px;
}

.grxx-text .text-nei .zymc {
  width: 182px;
  height: 33px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #6B6A6A;
  margin-right: 30px;
  margin-left: 12px;
}

.grxx-text .text-nei .bysj {
  width: 182px;
  height: 33px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #6B6A6A;
  margin-right: 30px;
  margin-left: 12px;
}

.grxx-text .text-nei .xl {
  width: 100px;
  height: 33px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #6B6A6A;
  margin-right: 30px;
  margin-left: 40px;
}

.grxx-text .text-nei .gzjy {
  width: 182px;
  height: 33px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #6B6A6A;
  margin-right: 30px;
  margin-left: 12px;
  margin-bottom: 50px;
}

.grxx-text .text-nei .last {
  width: 437px;
  height: 45px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.grxx-text .text-nei .last img {
  margin: 0;
  margin-right: 65px;
}

.footer {
  width: 100%;
  height: 230px;
  background: #2D2D2D;
}

.footer .foot {
  width: 1200px;
  height: 230px;
  margin: 0 auto;
  background: #2D2D2D;
}

.footer .foot .footleft {
  float: left;
  padding-left: 60px;
  padding-top: 76px;
}

.footer .foot .footmiddle {
  height: 100%;
  width: 698px;
  float: left;
  margin-left: 64px;
  margin-top: 23px;
  color: #A7A5A5;
}

.footer .foot .footmiddle .dianshang {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top: 55px;
  left: 49px;
  background: #B4B4B4;
}

.footer .foot .footmiddle .dianxia {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top: 156px;
  left: 49px;
  background: #B4B4B4;
}

.footer .foot .footmiddle .xian {
  width: 1px;
  height: 100px;
  position: absolute;
  top: 57px;
  left: 50px;
  background: #4D4D4D;
}

.footer .foot .footmiddle .shang {
  position: absolute;
  top: 55px;
  left: 90px;
  font-size: 14px;
}

.footer .foot .footmiddle .xuxian {
  width: 190px;
  height: 2px;
  position: absolute;
  top: 70px;
  left: 90px;
}

.footer .foot .footmiddle .zhong {
  position: absolute;
  top: 96px;
  left: 90px;
  font-size: 13px;
}

.footer .foot .footmiddle .xia {
  position: absolute;
  left: 88px;
  top: 125px;
}

.footer .foot .footright {
  float: right;
  height: 107px;
  width: 107px;
  background: #24B0FF;
  margin-top: 76px;
}
