@charset "UTF-8";
* {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "微软雅黑";
}

a {
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

/*上下居中:@include tb*/
/*左右居中: @include lr*/
/*居中:@include center*/
/*圆:@include yuan*/
/*宽高:@include wh($w,$h)*/
/*调试所用边框：@include border*/
/*图片居中：@include img-center*/
body {
  background: #F4F4F4;
}

.headda {
  width: 100%;
  background: #13587F;
  height: 102px;
}

.headda #head {
  width: 1200px;
  height: 102px;
  background: #13587F;
  margin: 0 auto;
}

.headda #head .headleft {
  width: 205px;
  height: 100%;
  background: red;
  float: left;
  margin-left: -206px;
}

.headda #head .headmiddle {
  height: 100%;
  border-color: green;
  float: left;
  margin-left: 27px;
  padding-top: 15px;
}

.headda #head .headmiddle ul {
  width: 175px;
  height: 100%;
  float: left;
  padding: 10px;
  font-size: 15px;
  color: #FFFFFF;
}

.headda #head .headmiddle ul li a {
  color: #FFFFFF;
}

.headda #head .headmiddle ul li img {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.headda #head .headright {
  height: 100%;
  float: right;
  margin-left: 0px;
  padding-top: 30px;
  position: relative;
}

.headda #head .headright .headsou {
  width: 300px;
  height: 35px;
  float: left;
  border: 2px solid #B8C3CE;
  border-radius: 50px;
}

.headda #head .headright .headsou .dian {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  padding-right: 15px;
}

.headda #head .headright .headsou .da {
  float: right;
  margin-top: 3px;
  margin-right: 4px;
}

.headda #head .headright .headsou #zhen {
  width: 130px;
  height: 36px;
  float: left;
  border: 0;
  background: none;
}

.content {
  width: 1200px;
  margin: 0 auto;
  margin-top: 46px;
}

.content .content-left {
  width: 865px;
  float: left;
}

.content .content-right {
  width: 292px;
  float: right;
}

.content:after {
  content: "";
  display: block;
  clear: both;
}

.content-left .qianyisi {
  width: 748px;
  height: 312px;
  border-radius: 5px;
  border-top: 4px solid #10c8f0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  background: #FFFFFF;
  padding-left: 19px;
  padding-top: 25px;
}

.content-left .qianyisi .qianyisi-first {
  width: 100%;
  height: 89px;
  margin-bottom: 16px;
}

.content-left .qianyisi .qianyisi-first .qian-img1 {
  width: 89px;
  height: 89px;
  float: left;
}

.content-left .qianyisi .qianyisi-first h1 {
  padding-left: 15px;
  width: 445px;
  font-size: 30px;
  color: #3f3e3e;
  float: left;
}

.content-left .qianyisi .qianyisi-first h1 img {
  vertical-align: middle;
}

.content-left .qianyisi .qianyisi-first h2 {
  padding-left: 15px;
  width: 445px;
  margin-top: 10px;
  font-size: 20px;
  float: left;
  font-weight: 600;
}

.content-left .qianyisi .qianyisi-second .qian-one {
  height: 22px;
  margin-bottom: 4px;
}

.content-left .qianyisi .qianyisi-second .qian-one .kind {
  width: 89px;
  height: 100%;
  font-weight: 500;
  border: 1px solid #EEEEEE;
  font-size: 14px;
  color: #3f3e3e;
  border-radius: 3px;
  float: left;
}

.content-left .qianyisi .qianyisi-second .qian-one .kind img {
  vertical-align: middle;
}

.content-left .qianyisi .qianyisi-second .qian-one li:nth-child(2) {
  padding-left: 15px;
  font-size: 14px;
  float: left;
  color: #3F3E3E;
}

.content-left .qianyisi .xudada {
  position: absolute;
  left: 19px;
  bottom: -20px;
}

.content-left .qianyisi .xudada .touxiang {
  width: 314px;
  height: 49px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  float: left;
  background: #FFFFFF;
}

.content-left .qianyisi .xudada .touxiang a {
  display: block;
  padding-left: 125px;
  line-height: 49px;
  font-size: 20px;
  color: #3F3E3E;
  position: relative;
}

.content-left .qianyisi .xudada .touxiang a span {
  margin-left: 10px;
  color: #AAAAAA;
  font-size: 14px;
}

.content-left .qianyisi .xudada .touxiang a img {
  position: absolute;
  width: 72px;
  height: 72px;
  top: -10px;
  left: 30px;
}

.content-left .qianyisi .xudada .sixinta {
  margin-left: 10px;
  width: 164px;
  height: 49px;
  float: left;
}

.content-left .qianyisi .xudada .sixinta a {
  display: block;
  background: #5BDB9D;
  color: #fff;
  height: 100%;
  width: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 49px;
}

.content-left .qianyisi .team {
  position: absolute;
  bottom: 0;
  right: -110px;
}

.content-left .qianyisi .zhiwei {
  position: absolute;
  top: 50px;
  right: 80px;
}

.content-left .Split {
  width: 865px;
  height: 1px;
  background: #B5B5B5;
  margin-top: 58px;
  margin-bottom: 36px;
}

.content-left .details {
  height: 1210px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.content-left .details .jianjie {
  margin-bottom: 20px;
  border-bottom: 1px solid #E1E1E1;
  padding-top: 19px;
  padding-left: 18px;
  padding-bottom: 30px;
}

.content-left .details .jianjie .neirong {
  padding-top: 26px;
  padding-left: 27px;
}

.content-left .details .jianjie .neirong p {
  font-size: 14px;
  color: #888787;
  margin-bottom: 3px;
}

.content-left .details .jiesao {
  margin-bottom: 20px;
  border-bottom: 1px solid #E1E1E1;
  padding-top: 19px;
  padding-left: 18px;
  padding-bottom: 30px;
  padding-right: 20px;
}

.content-left .details .jiesao .neirong {
  padding-top: 26px;
  padding-left: 27px;
}

.content-left .details .jiesao .neirong p {
  font-size: 14px;
  color: #888787;
  line-height: 22px;
  margin-bottom: 20px;
}

.content-left .details .jiesao .neirong img {
  margin-bottom: 20px;
}

.content-left .details .wangzhan {
  margin-bottom: 20px;
  border-bottom: 1px solid #E1E1E1;
  padding-top: 19px;
  padding-left: 18px;
  padding-bottom: 30px;
  padding-right: 20px;
}

.content-left .details .wangzhan .neirong {
  padding-top: 20px;
  padding-left: 27px;
}

.content-left .details .wangzhan .neirong a {
  color: #72B5F6;
  text-decoration: underline;
}

.content-left .details .didian {
  padding-left: 18px;
  padding-bottom: 30px;
  padding-right: 20px;
}

.content-left .details .didian .neirong {
  padding-top: 20px;
  padding-left: 27px;
}

.content-left .details .didian .neirong p {
  font-size: 14px;
  color: #888787;
  line-height: 22px;
}

.content-left .details .didian .neirong span {
  margin: 0 5px;
}

.content-right .kapian {
  width: 100%;
  height: 85px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-bottom: 14px;
  padding-top: 21px;
  padding-left: 25px;
  padding-right: 17px;
}

.content-right .kapian h2 {
  width: 100%;
  font-size: 18px;
  color: #3F3E3E;
  font-weight: 400;
  margin-bottom: 5px;
}

.content-right .kapian span {
  font-size: 14px;
  color: #888787;
}

.content-right .kapian .price {
  float: right;
  height: 20px;
}

.content-right .kapian .price i {
  color: #F10000;
  font-size: 18px;
}

.content-right .kapian .price img {
  vertical-align: middle;
}

.content-right .kapian .rec1 {
  width: 34px;
  height: 11px;
  border-radius: 6px;
  position: absolute;
  top: 10px;
  right: -14px;
  background: #D038F6;
}

.content-right .kapian .rec2 {
  width: 18px;
  height: 5px;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  right: -9px;
  background: #FFD220;
}

.content-right .kapian .rec3 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 35px;
  right: -5px;
  background: #FFD220;
}

.content-right .kapian .rec4 {
  width: 32px;
  height: 8px;
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  left: -19px;
  background: #FFD220;
}

.content-right .kapian .rec5 {
  width: 20px;
  height: 5px;
  border-radius: 3px;
  position: absolute;
  bottom: 23px;
  left: -9px;
  background: #FFFDF3;
}

.content-right .kapian .rec6 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
  left: 2px;
  background: #FFD220;
}

.content-right .kapian .rec7 {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
  left: -22px;
  background: #FFD220;
}

.pinglun {
  width: 1200px;
  margin: 0 auto;
  margin-top: 85px;
}

.pinglun .title {
  padding-left: 20px;
}

.pinglun .pl-line h1 {
  width: 844px;
  height: 20px;
  border-bottom: 1px solid #B5B5B5;
  float: left;
}

.pinglun .pl-line span {
  float: left;
  width: 27px;
  color: #155C85;
  text-align: center;
  font-weight: 500;
}

.pinglun .pl-line h2 {
  width: 19px;
  height: 20px;
  border-bottom: 1px solid #B5B5B5;
  float: left;
}

.pinglun .pl-line:after {
  content: "";
  display: block;
  clear: both;
}

.pinglun .pl-content {
  width: 890px;
  overflow: hidden;
  padding-top: 27px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 50px;
}

.pinglun .pl-content li {
  float: left;
}

.pinglun .pl-content .duixiang {
  float: left;
  padding-left: 10px;
}

.pinglun .pl-content .duixiang h3 {
  color: #3F3E3E;
  font-size: 18px;
}

.pinglun .pl-content .duixiang div {
  height: 20px;
  margin-top: 5px;
}

.pinglun .pl-content .duixiang div span {
  display: block;
  font-size: 14px;
  color: #3F3E3E;
  background: #FFFFFF;
  float: left;
  text-align: center;
  margin-right: 5px;
  padding: 0 5px;
  border-radius: 5px;
}

.pinglun .pl-content .duixiang h4 {
  font-size: 15px;
  color: #3F3E3E;
  margin-top: 10px;
  font-weight: 200;
}

.pinglun .pl-content .tucao {
  float: right;
  width: 570px;
}

.pinglun .pl-content .tucao p {
  font-size: 15px;
  color: #6B6A6A;
  line-height: 22px;
}

.pinglun .pl-content .tucao div {
  margin-top: 15px;
  height: 20px;
  position: relative;
}

.pinglun .pl-content .tucao div .shijian {
  float: left;
  font-size: 14px;
  padding-left: 18px;
  background: url(../img/gsxq/clock.jpg) no-repeat;
  background-position-y: 2px;
}

.pinglun .pl-content .tucao div .pingfen {
  margin: 0;
  float: right;
  margin-right: 45px;
}

.pinglun .pl-content .tucao div .pingfen span {
  font-size: 14px;
}

.pinglun .pl-content .tucao div .pingfen img {
  vertical-align: bottom;
  margin-left: 10px;
}

.pinglun .pl-content .tucao div strong {
  position: absolute;
  bottom: -5px;
  right: 0;
  display: block;
  float: right;
  font-size: 26px;
  margin-left: 10px;
}

.pinglun .move {
  position: relative;
  width: 890px;
  height: 200px;
}

.pinglun .move a {
  display: block;
  width: 180px;
  height: 51px;
  border-radius: 23px;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.foot {
  width: 100%;
  height: 230px;
  background: #2D2D2D;
  position: relative;
}

.footleft img {
  position: absolute;
  left: 282px;
  top: 59px;
}

.footmiddle {
  height: 100%;
  width: 698px;
  position: absolute;
  left: 336px;
}

.footmiddle .dianshang {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top: 55px;
  left: 49px;
  background: #B4B4B4;
}

.footmiddle .dianxia {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top: 156px;
  left: 49px;
  background: #B4B4B4;
}

.footmiddle .xian {
  width: 1px;
  height: 100px;
  position: absolute;
  top: 57px;
  left: 50px;
  background: #4D4D4D;
}

.footright {
  height: 107px;
  width: 107px;
  position: absolute;
  top: 55px;
  left: 1034px;
  background: #24B0FF;
}

.footmiddle .shang {
  position: absolute;
  top: 55px;
  left: 90px;
  font-size: 14px;
}

.footmiddle .xuxian {
  width: 190px;
  height: 2px;
  position: absolute;
  top: 70px;
  left: 90px;
}

.footmiddle .zhong {
  position: absolute;
  top: 96px;
  left: 90px;
  font-size: 13px;
}

.footmiddle .xia {
  position: absolute;
  left: 88px;
  top: 125px;
}

.cedaohang {
  width: 66px;
  height: 980px;
  background: rgba(137, 137, 137, 0.5);
  position: absolute;
  top: 0;
  right: 0;
}

.cedaohang .ce-shang {
  width: 66px;
  height: 115px;
  background: url(../img/cedaohang/ce1.png) no-repeat;
  margin-top: 20px;
  background-position: -5px 0;
}

.cedaohang .ce-shang a {
  display: block;
  width: 66px;
  height: 115px;
}

.cedaohang .ce-xia {
  width: 66px;
  height: 587px;
  background: url(../img/cedaohang/ce2.png) no-repeat;
  margin-top: 60px;
}

.cedaohang .ce-xia a {
  display: block;
  width: 66px;
  height: 45px;
  margin-bottom: 25px;
}

.cedaohang .ce-xia > a:nth-of-type(1) {
  width: 66px;
  height: 65px;
}

.cedaohang .ce-xia > a:nth-of-type(5) {
  margin-bottom: 105px;
}

.cedaohang .ce-xia span {
  display: block;
  width: 99px;
  height: 36px;
  background: url(../img/cedaohang/ce3.png) no-repeat;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  font-weight: 700;
  color: #209CEB;
  position: absolute;
  left: -76px;
  top: 20px;
  display: none;
}

.cedaohang .ce-xia > a:nth-child(1) {
  top: 20px;
}
