@charset "UTF-8";
* {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "微软雅黑";
}

a {
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

/*上下居中:@include tb*/
/*左右居中: @include lr*/
/*居中:@include center*/
/*圆:@include yuan*/
/*宽高:@include wh($w,$h)*/
/*调试所用边框：@include border*/
/*图片居中：@include img-center*/
body {
  background: #F4F4F4;
}

.headda {
  width: 100%;
  background: #13587F;
  height: 102px;
}

.headda #head {
  width: 1200px;
  height: 102px;
  background: #13587F;
  margin: 0 auto;
}

.headda #head .headleft {
  width: 205px;
  height: 100%;
  background: red;
  float: left;
  margin-left: -206px;
}

.headda #head .headmiddle {
  height: 100%;
  border-color: green;
  float: left;
  margin-left: 27px;
  padding-top: 15px;
}

.headda #head .headmiddle ul {
  width: 175px;
  height: 100%;
  float: left;
  padding: 10px;
  font-size: 15px;
  color: #FFFFFF;
}

.headda #head .headmiddle ul li a {
  color: #FFFFFF;
}

.headda #head .headmiddle ul li img {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.headda #head .headright {
  height: 100%;
  float: right;
  margin-left: 0px;
  padding-top: 30px;
  position: relative;
}

.headda #head .headright .headsou {
  width: 300px;
  height: 35px;
  float: left;
  border: 2px solid #B8C3CE;
  border-radius: 50px;
}

.headda #head .headright .headsou .dian {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  padding-right: 15px;
}

.headda #head .headright .headsou .da {
  float: right;
  margin-top: 3px;
  margin-right: 4px;
}

.headda #head .headright .headsou #zhen {
  width: 130px;
  height: 36px;
  float: left;
  border: 0;
  background: none;
}

.seal {
  background-image: url("../img/zwlbimg/comimg/1.jpg");
  width: 100%;
  height: 834px;
  margin-bottom: 149px;
  backgroud-size: cover;
  position: relative;
}

.seal .gray {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.seal .turn {
  width: 1200px;
  height: 652px;
  position: absolute;
  bottom: 0;
  left: 235px;
  left: 235px;
}

.seal .turn .turn_box {
  width: 100%;
  height: 100%;
}

.seal .turn .turn_box .list {
  position: absolute;
  left: 0;
  top: 0;
  width: 1200px;
  opacity: 0;
}

.seal .turn .turn_box .list_first {
  opacity: 1;
}

.turn .leftside1 {
  width: 166px;
  height: 166px;
  position: absolute;
  left: -120px;
  bottom: 140px;
  background: rgba(143, 143, 76, 0.6);
}

.turn .leftside2 {
  width: 66px;
  height: 66px;
  position: absolute;
  left: -152px;
  bottom: 272px;
  background: rgba(143, 143, 76, 0.6);
}

.turn .rightside {
  width: 73px;
  height: 482px;
  position: absolute;
  right: -73px;
  bottom: 54px;
  background: rgba(21, 122, 106, 0.8);
}

.turn .rightside .inst {
  width: 120px;
  height: 240px;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 64px;
  background: url("../img/zwlbimg/comimg/11.png");
}

.turn .rightside .inst ul {
  margin-top: 13px;
  height: 120px;
  transform: rotate(180deg);
}

.turn .rightside .inst li {
  height: 30px;
}

.turn .rightside .inst li .cir {
  margin-left: 79px;
  border: 2px solid #fff;
  background: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.turn .rightside .inst li .cirfir {
  background: #F0C30F;
}

.turn .rightside .inst .circle:hover {
  background: #F0C30F;
}

.turn .rightside .inst .lead {
  width: 60px;
  height: 24px;
  position: absolute;
  left: 56px;
  bottom: 104px;
}

.turn .lead {
  overflow: hidden;
  color: #fff;
  font-family: "微软雅黑";
}

.turn .lead .slid {
  font-size: 17px;
  float: left;
  height: 24px;
  width: 20px;
}

.turn .lead .slid .num {
  height: 100%;
  position: absolute;
  top: 24px;
  left: 0;
}

.turn .lead .slid .numfir {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.turn .lead .fix {
  font-size: 13px;
  float: left;
  top: 3px;
  left: 0;
}

.turn .click {
  height: 37px;
  width: 100px;
  background: #fff;
  position: absolute;
  left: -20px;
  bottom: 37px;
  border-radius: 37px;
  color: #F3CF43;
  font-size: 24px;
}

.turn .click .left {
  float: left;
  left: 40px;
  top: 6px;
}

.turn .click .right {
  float: left;
  left: 50px;
  top: 6px;
}

.turn .blue {
  position: absolute;
  left: -100px;
  bottom: 309px;
}

.turn .match {
  position: absolute;
  left: 118px;
  bottom: -98px;
  width: 1202px;
  height: 191px;
}

.turn .match .fast {
  float: left;
  width: 1200px;
  height: 232px;
  background: url("../img/zwlbimg/zhiwei.png") no-repeat;
}

.turn .match .fast .fast1 {
  width: 1150px;
  height: 140px;
  margin-left: 25px;
  morgin: 0 auto;
  background: url("../img/zwlbimg/shang.png") no-repeat;
  background-position: center bottom;
  border-bottom: 1px dashed #CBCBCB;
}

.turn .match .fast .zhong i {
  background: url("../img/zwlbimg/7.png") no-repeat;
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-left: 40px;
  vertical-align: middle;
}

.turn .match .fast .zhong .zhong1 {
  margin-top: 15px;
  display: inline-block;
}

.turn .match .fast .zhong .riqi {
  display: inline-block;
  width: 110px;
  height: 35px;
  margin-left: 35px;
  vertical-align: middle;
  background: url("../img/zwlbimg/riqi.jpg") no-repeat;
}

.turn .match .fast .overcir {
  height: 230px;
  width: 230px;
  border-radius: 50%;
  border: 1px solid #234C6A;
  position: absolute;
  top: -15px;
  left: 0;
}

.turn .match .fast .overcir .rotate {
  height: 186px;
  width: 186px;
  background: #46D4F3;
  border-radius: 50%;
  border-bottom: 93px solid #3AA5C5;
  margin: 17px auto;
  transition: all 1s linear;
  transform: rotate(-45deg);
}

.turn .match .fast .overcir .rotate:hover {
  transform: rotate(-405deg);
}

.turn .match .cover {
  height: 132px;
  width: 132px;
  border-radius: 50%;
  background: #FFF;
  position: absolute;
  top: 48px;
  left: 48px;
}

.turn .match .cover .wenzi {
  font-size: 17px;
  color: #01254D;
  text-align: center;
  margin-top: 40px;
}

.turn .match .cover .eng {
  font-size: 8px;
  color: #01254D;
  text-align: center;
}

.turn .match .sousuo {
  float: left;
  width: 971px;
  height: 199px;
  background: url("../img/zwlbimg/comimg/14.png");
}

.turn .match .sousuo .box {
  height: 80px;
  width: 850px;
  margin-left: 45px;
}

.body {
  width: 1200px;
  margin: 0 auto;
  background: #F4F4F4;
}

.sousuo {
  overflow: hidden;
  height: 80px;
  margin-top: 150px;
}

.sousuo .text {
  width: 900px;
  height: 80px;
  float: left;
  background: #F4F4F4;
  border: 1px solid #cccccc;
  font-size: 19px;
  color: #CCCCCC;
}

.sousuo .botton {
  width: 178px;
  height: 80px;
  background: #40D1F1;
  font-size: 19px;
  color: #fff;
  border: 1px solid #CCCCCC;
  float: right;
  text-align: center;
  font-family: '微软雅黑';
}

.leibie {
  overflow: hidden;
  margin-top: 48px;
}

.leibie li {
  width: 227px;
  height: 33px;
  border: 1px solid #CCCCCC;
  float: left;
  position: relative;
  line-height: 33px;
  margin-right: 16px;
}

.leibie li a {
  color: #666666;
  font-size: 12px;
  margin-left: 8px;
}

.leibie li .sanjiao {
  position: absolute;
  bottom: 3px;
  right: 1px;
  border-left: 7px solid #fff;
  border-right: 7px solid #0180CF;
  border-top: 7px solid #fff;
  border-bottom: 7px solid #0180CF;
}

.leibie .last {
  margin: 0;
}

.shejishi {
  width: 100%;
  height: 1024px;
  border: 1px solid #CCCCCC;
  overflow: hidden;
  margin-top: 51px;
  padding-left: 32px;
  padding-right: 25px;
}

.shejishi .wangye {
  height: 169px;
  border-bottom: 1px solid #E6E6E6;
  padding-top: 28px;
  padding-bottom: 28px;
}

.shejishi .wangye .wangye-left {
  width: 50%;
  height: 100%;
  float: left;
}

.shejishi .wangye .wangye-left .wangyeleftone {
  width: 114px;
  height: 114px;
  display: inline-block;
  float: left;
  margin-right: 48px;
}

.shejishi .wangye .wangye-left .wz {
  width: 390px;
  float: left;
}

.shejishi .wangye .wangye-left .wz h1 {
  font-size: 18px;
  font-weight: normal;
  color: #515151;
  margin-bottom: 27px;
}

.shejishi .wangye .wangye-left .wz p {
  margin-bottom: 20px;
}

.shejishi .wangye .wangye-left .wz p .yx {
  color: #7A7A7A;
  font-size: 15px;
  margin-right: 11px;
}

.shejishi .wangye .wangye-left .wz p .num {
  color: #F1CA47;
  font-size: 15px;
  margin-right: 18px;
}

.shejishi .wangye .wangye-left .wz p .xl {
  color: #7A7A7A;
  font-size: 15px;
  margin-right: 18px;
}

.shejishi .wangye .wangye-left .wz p .jy {
  color: #7A7A7A;
  font-size: 15px;
  margin-right: 18px;
}

.shejishi .wangye .wangye-left .wz .dizi {
  color: #7A7A7A;
  font-size: 12px;
}

.shejishi .wangye .wangye-right .wz {
  padding-left: 46px;
  border-left: 1px solid #E6E6E6;
  position: relative;
  width: 390px;
  float: left;
}

.shejishi .wangye .wangye-right .wz h1 {
  font-size: 18px;
  font-weight: normal;
  color: #515151;
  margin-bottom: 27px;
}

.shejishi .wangye .wangye-right .wz p {
  color: #7A7A7A;
  font-size: 15px;
  margin-bottom: 18px;
}

.shejishi .wangye .wangye-right .wz .gezi a {
  display: inline-block;
  width: 58px;
  height: 22px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  color: #7A7A7A;
  font-size: 12px;
  text-align: center;
  line-height: 22px;
  margin-left: 4px;
}

.shejishi .wangye .wangye-right .anniu {
  position: absolute;
  top: 25px;
  right: 25px;
}

.shejishi .wangye .wangye-right .anniu a {
  display: inline-block;
  width: 138px;
  height: 42px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 42px;
  background: #40D1F1;
}

.shejishi .wangye:nth-child(1) .wangye-left .wangyeleftone {
  background: url("../img/zwlbimg/1.png") no-repeat;
}

.shejishi .wangye:nth-child(2) .wangye-left .wangyeleftone {
  background: url("../img/zwlbimg/2.png") no-repeat;
}

.shejishi .wangye:nth-child(3) .wangye-left .wangyeleftone {
  background: url("../img/zwlbimg/3.png") no-repeat;
  background-position: 100% 100%;
  overflow: hidden;
}

.shejishi .wangye:nth-child(4) .wangye-left .wangyeleftone {
  background: url("../img/zwlbimg/4.png") no-repeat;
}

.shejishi .wangye:nth-child(5) .wangye-left .wangyeleftone {
  background: url("../img/zwlbimg/4.png") no-repeat;
}

.ye {
  height: 177px;
  margin: 0 auto;
}

.ye .yenum {
  padding-top: 78px;
  padding-left: 340px;
}

.ye .yenum .shouye {
  font-size: 16px;
  float: left;
  margin-right: 11px;
}

.ye .yenum .shouye a {
  color: #999999;
}

.ye .yenum .numb {
  width: 22px;
  height: 22px;
  float: left;
  display: inline-block;
  border: 1px solid #CCCCCC;
  margin-right: 11px;
  text-align: center;
  line-height: 22px;
}

.ye .yenum .numb a {
  color: #999999;
}

.ye .yenum .shang {
  font-size: 16px;
  float: left;
  margin-right: 11px;
}

.ye .yenum .shang a {
  color: #999999;
}

.ye .yenum .kuang {
  width: 38px;
  height: 22px;
  float: left;
  margin-right: 11px;
  border: 1px solid #CCCCCC;
}

.qiye {
  padding-top: 74px;
  height: 373px;
  margin-bottom: 145px;
}

.qiye .tujian {
  margin-top: 63px;
  height: 280px;
}

.qiye .tujian .tujianqiye {
  margin-right: 29px;
  border-radius: 10px;
  width: 278px;
  height: 279px;
  float: left;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.qiye .tujian .tujianqiye .hid {
  width: 278px;
  height: 279px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding-top: 49px;
  border: 1px solid #BCBDBC;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

.qiye .tujian .tujianqiye:hover .hid {
  opacity: 1;
}

.qiye .tujian .last {
  margin-right: 0;
}

.hid .span {
  font-size: 17px;
  text-align: center;
  display: block;
  color: #fff;
}

.hid .xian {
  width: 34px;
  height: 1px;
  display: block;
  margin-left: 120px;
  margin-top: 20px;
  background: #fff;
  text-align: center;
  line-height: 37px;
}

.hid p {
  padding-left: 28px;
  padding-right: 28px;
  text-indent: 2em;
  font-size: 13px;
  color: #fff;
}

.hid .more {
  border: 1px solid #fff;
  border-radius: 3px;
  width: 123px;
  height: 34px;
  margin: 43px auto;
  text-align: center;
  line-height: 34px;
}

.hid .more a {
  color: #fff;
}

.hid .more a b {
  font-size: 10px;
  color: #fff;
}

.hid .more a span {
  font-size: 10px;
  color: #fff;
}

.cenav {
  width: 49px;
  height: 998px;
  background: #242629;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.cenav .cenav1 {
  width: 35px;
  height: 469px;
  margin: 0 auto;
}

.cenav .cenav1 li {
  width: 35px;
  height: 35px;
  margin-bottom: 45px;
}

.cenav .cenav1 li a {
  width: 35px;
  display: block;
  height: 35px;
  border-radius: 50%;
  background: #2A2E34;
}

.cenav .cenav1 li .first {
  background: #10C8F0;
}

.footer {
  width: 100%;
  height: 230px;
  background: #2D2D2D;
}

.footer .foot {
  width: 1200px;
  height: 230px;
  margin: 0 auto;
  background: #2D2D2D;
}

.footer .foot .footleft {
  float: left;
  padding-left: 60px;
  padding-top: 76px;
}

.footer .foot .footmiddle {
  height: 100%;
  width: 698px;
  float: left;
  margin-left: 64px;
  margin-top: 23px;
  color: #A7A5A5;
}

.footer .foot .footmiddle .dianshang {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top: 55px;
  left: 49px;
  background: #B4B4B4;
}

.footer .foot .footmiddle .dianxia {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top: 156px;
  left: 49px;
  background: #B4B4B4;
}

.footer .foot .footmiddle .xian {
  width: 1px;
  height: 100px;
  position: absolute;
  top: 57px;
  left: 50px;
  background: #4D4D4D;
}

.footer .foot .footmiddle .shang {
  position: absolute;
  top: 55px;
  left: 90px;
  font-size: 14px;
}

.footer .foot .footmiddle .xuxian {
  width: 190px;
  height: 2px;
  position: absolute;
  top: 70px;
  left: 90px;
}

.footer .foot .footmiddle .zhong {
  position: absolute;
  top: 96px;
  left: 90px;
  font-size: 13px;
}

.footer .foot .footmiddle .xia {
  position: absolute;
  left: 88px;
  top: 125px;
}

.footer .foot .footright {
  float: right;
  height: 107px;
  width: 107px;
  background: #24B0FF;
  margin-top: 76px;
}
