@charset "UTF-8";
* {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "微软雅黑";
  color: #929292;
}

a {
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

/*上下居中:@include tb*/
/*左右居中: @include lr*/
/*居中:@include center*/
/*圆:@include yuan*/
/*宽高:@include wh($w,$h)*/
/*调试所用边框：@include border*/
/*图片居中：@include img-center*/
body {
  background: #F4F4F4;
}

.body {
  width: 1200px;
  margin: 0 auto;
  background: #F4F4F4;
}

.sousuo {
  overflow: hidden;
  height: 80px;
}

.sousuo .text {
  width: 900px;
  height: 80px;
  float: left;
  background: #F4F4F4;
  border: 1px solid #cccccc;
  font-size: 19px;
  color: #CCCCCC;
}

.sousuo .botton {
  width: 178px;
  height: 80px;
  background: #40D1F1;
  font-size: 19px;
  color: #fff;
  border: 1px solid #CCCCCC;
  float: right;
  text-align: center;
  font-family: '微软雅黑';
}

.leibie {
  overflow: hidden;
  margin-top: 48px;
}

.leibie li {
  width: 227px;
  height: 33px;
  border: 1px solid #CCCCCC;
  float: left;
  position: relative;
  line-height: 33px;
  margin-right: 16px;
}

.leibie li a {
  color: #666666;
  font-size: 12px;
  margin-left: 8px;
}

.leibie li .sanjiao {
  position: absolute;
  bottom: 3px;
  right: 1px;
  border-left: 7px solid #fff;
  border-right: 7px solid #0180CF;
  border-top: 7px solid #fff;
  border-bottom: 7px solid #0180CF;
}

.leibie .last {
  margin: 0;
}

.shejishi {
  width: 100%;
  height: 1024px;
  border: 1px solid #CCCCCC;
  overflow: hidden;
  margin-top: 51px;
  padding-left: 32px;
  padding-right: 25px;
}

.shejishi .wangye {
  height: 169px;
  border-bottom: 1px solid #E6E6E6;
  padding-top: 28px;
  padding-bottom: 28px;
}

.shejishi .wangye .wangye-left {
  width: 50%;
  height: 100%;
  float: left;
}

.shejishi .wangye .wangye-left .wangyeleftone {
  width: 114px;
  height: 114px;
  display: inline-block;
  float: left;
  margin-right: 48px;
}

.shejishi .wangye .wangye-left .wz {
  width: 390px;
  float: left;
}

.shejishi .wangye .wangye-left .wz h1 {
  font-size: 18px;
  font-weight: normal;
  color: #515151;
  margin-bottom: 27px;
}

.shejishi .wangye .wangye-left .wz p {
  margin-bottom: 20px;
}

.shejishi .wangye .wangye-left .wz p .yx {
  color: #7A7A7A;
  font-size: 15px;
  margin-right: 11px;
}

.shejishi .wangye .wangye-left .wz p .num {
  color: #F1CA47;
  font-size: 15px;
  margin-right: 18px;
}

.shejishi .wangye .wangye-left .wz p .xl {
  color: #7A7A7A;
  font-size: 15px;
  margin-right: 18px;
}

.shejishi .wangye .wangye-left .wz p .jy {
  color: #7A7A7A;
  font-size: 15px;
  margin-right: 18px;
}

.shejishi .wangye .wangye-left .wz .dizi {
  color: #7A7A7A;
  font-size: 12px;
}

.shejishi .wangye .wangye-right .wz {
  padding-left: 46px;
  border-left: 1px solid #E6E6E6;
  position: relative;
  width: 390px;
  float: left;
}

.shejishi .wangye .wangye-right .wz h1 {
  font-size: 18px;
  font-weight: normal;
  color: #515151;
  margin-bottom: 27px;
}

.shejishi .wangye .wangye-right .wz p {
  color: #7A7A7A;
  font-size: 15px;
  margin-bottom: 18px;
}

.shejishi .wangye .wangye-right .wz .gezi a {
  display: inline-block;
  width: 58px;
  height: 22px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  color: #7A7A7A;
  font-size: 12px;
  text-align: center;
  line-height: 22px;
  margin-left: 4px;
}

.shejishi .wangye .wangye-right .anniu {
  position: absolute;
  top: 25px;
  right: 25px;
}

.shejishi .wangye .wangye-right .anniu a {
  display: inline-block;
  width: 138px;
  height: 42px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 42px;
  background: #40D1F1;
}

.shejishi .wangye:nth-child(1) .wangye-left .wangyeleftone {
  background: url("../img/zwlbimg/1.png") no-repeat;
}

.shejishi .wangye:nth-child(2) .wangye-left .wangyeleftone {
  background: url("../img/zwlbimg/2.png") no-repeat;
}

.shejishi .wangye:nth-child(3) .wangye-left .wangyeleftone {
  background: url("../img/zwlbimg/3.png") no-repeat;
  background-position: 100% 100%;
  overflow: hidden;
}

.shejishi .wangye:nth-child(4) .wangye-left .wangyeleftone {
  background: url("../img/zwlbimg/4.png") no-repeat;
}

.shejishi .wangye:nth-child(5) .wangye-left .wangyeleftone {
  background: url("../img/zwlbimg/4.png") no-repeat;
}

.ye {
  height: 177px;
  margin: 0 auto;
}

.ye .yenum {
  padding-top: 78px;
  padding-left: 340px;
}

.ye .yenum .shouye {
  font-size: 16px;
  float: left;
  margin-right: 11px;
}

.ye .yenum .shouye a {
  color: #999999;
}

.ye .yenum .numb {
  width: 22px;
  height: 22px;
  float: left;
  display: inline-block;
  border: 1px solid #CCCCCC;
  margin-right: 11px;
  text-align: center;
  line-height: 22px;
}

.ye .yenum .numb a {
  color: #999999;
}

.ye .yenum .shang {
  font-size: 16px;
  float: left;
  margin-right: 11px;
}

.ye .yenum .shang a {
  color: #999999;
}

.ye .yenum .kuang {
  width: 38px;
  height: 22px;
  float: left;
  margin-right: 11px;
  border: 1px solid #CCCCCC;
}

.qiye {
  padding-top: 74px;
  height: 343px;
}

.qiye .tujian {
  margin-top: 63px;
}

.qiye .tujian .tujianqiye {
  margin-right: 29px;
  border-radius: 10px;
  width: 278px;
  height: 279px;
  float: left;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.qiye .tujian .tujianqiye .hid {
  width: 278px;
  height: 279px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding-top: 49px;
  border: 1px solid #BCBDBC;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

.qiye .tujian .tujianqiye:hover .hid {
  opacity: 1;
}

.qiye .tujian .last {
  margin-right: 0;
}

.hid .span {
  font-size: 17px;
  text-align: center;
  display: block;
  color: #fff;
}

.hid .xian {
  width: 34px;
  height: 1px;
  display: block;
  margin-left: 120px;
  margin-top: 20px;
  background: #fff;
  text-align: center;
  line-height: 37px;
}

.hid p {
  padding-left: 28px;
  padding-right: 28px;
  text-indent: 2em;
  font-size: 13px;
  color: #fff;
}

.hid .more {
  border: 1px solid #fff;
  border-radius: 3px;
  width: 123px;
  height: 34px;
  margin: 43px auto;
  text-align: center;
  line-height: 34px;
}

.hid .more a {
  color: #fff;
}

.hid .more a b {
  font-size: 10px;
  color: #fff;
}

.hid .more a span {
  font-size: 10px;
  color: #fff;
}
