@import 'base';
$color:#E5E5E5;
@mixin input{
    border: 2px solid $color;
     border-radius: 5px;
     outline:none;
     font-size: 16px;
      color: #6B6A6A;
      margin-right: 30px;
}

body{
    background: #F4F4F4;
    font-size: 14px;
}
input,select,textarea{
    border: 0;
}

.headda{
     width: 100%;
     background:#13587F;
     height: 102px;
    #head{
        width: $neikuan;
        height: 102px;
        background:#13587F;
        margin: 0 auto;
        .headleft{
            width: 205px;
            height: 100%;
            background: red;
            float:left;
            margin: {
                left:-206px ;
            };
        }
        .headmiddle{
            height: 100%;
            border-color: green;
            float: left;
            margin-left: 27px;
            padding-top: 15px;
            ul{
                width: 175px;
                height: 100%;
                float: left;
                padding: 10px;
                font-size: 15px;
                color:#FFFFFF;
                li{
                    a{
                        color: #FFFFFF;
                    }
                    img{
                        display: block;
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }  
                }
            }
        }
        .headright{
            height: 100%;
            float: right;
            margin-left: 0px;
            padding-top: 30px;
            position: relative;
            .headsou{
                width: 300px;
                height: 35px;
                float:left;
                border:2px solid #B8C3CE;
                border-radius: 50px;
                .dian{
  
                    float: left;
                    margin-top: 5px;
                    margin-left: 10px;
                    padding-right: 15px;
                }
                .da{
                    float: right;
                    margin-top: 3px;
                    margin-right: 4px;
                }
                #zhen{
                    width:130px;
                    height: 36px;
                    float: left;
                    border: 0;
                    background: none;
                }
            }
        }
    }
}




.grxx-text{
    @include wh(1140px,1100px);
    background: #fff;
    margin: 0 auto;
    margin-top:8px;
    padding-top: 20px;
    .text-nei{
        margin-left:175px;
        margin-right:175px;
        margin-top: 63px;
        div{
            margin: 20px 0;
        }
        img{
            margin-left: 60px;
        }
        
        .nc{
              @include wh(180px,33px);
              margin-left: 52px;
              @include input;
              
        }
        .xb{
            @include wh(60px,33px);
              margin-left: 52px;
              @include input;
              text-align: center;
              line-height: 33px;
        }
        .nl{
            @include wh(60px,33px);
              margin-left: 52px;
              @include input;
              text-align: center;
              line-height: 33px;
        }
        .qm{
             @include wh(425px,76px);
              margin-left: 52px;
              @include input;
              vertical-align: top;
              resize: none;
              margin-bottom: 50px;
        }
        .zsxm{
            @include wh(182px,33px);
            @include input;
            margin-left: 23px;
        }
        .sfzt{
            @include wh(372px,33px);
            @include input;
            margin-left: 20px;
            
        }
        .qzyx{
              @include wh(135px,33px);
            @include input;
            margin-left: 13px;
        }
        .sheng{
              @include wh(92px,33px);
            @include input;
            margin-left: 20px;
        }
        .shi{
              @include wh(92px,33px);
            @include input;
            margin-left: 20px;
            
        }
        .mbxz{
             @include wh(182px,33px);
            @include input;
            margin-left: 12px;
        }
        .sjhm{
             @include wh(182px,33px);
            @include input;
            margin-left: 12px;
        }
        .yx{
            @include wh(182px,33px);
              margin-left: 40px;
              @include input;
              margin-bottom: 50px;
        }
        .byyx{
              @include wh(182px,33px);
            @include input;
            margin-left: 12px;
        }
        .zymc{
               @include wh(182px,33px);
            @include input;
            margin-left: 12px;
        }
        .bysj{
              @include wh(182px,33px);
            @include input;
            margin-left: 12px;
        }
        .xl{
             @include wh(100px,33px);
            @include input;
            margin-left: 40px;
        }
        .gzjy{
              @include wh(182px,33px);
            @include input;
            margin-left: 12px;
            margin-bottom: 50px;
        }
        .last{
             @include wh(437px,45px);
             @include lr;
             img{
                 margin: 0;
                 margin-right: 65px;
             }
        }
    }
}
.footer{
    
    @include wh(100%,230px);
    background: #2D2D2D;
    .foot{
        width: 1200px;
        height: 230px;
        margin: 0 auto;
        background: #2D2D2D;
        .footleft{
            float: left;
            padding: {
                left: 60px;
                top: 76px;
            };
        }
        .footmiddle{
            height: 100%;
            width:698px;
            float: left;
           
            margin: {
                left: 64px;
                top: 23px;
            };
            color: #A7A5A5;
            .dianshang{
                width: 3px;
                height: 3px;
                border-radius: 50%;
                position: absolute;
                top:55px;
                left:49px;
                background: #B4B4B4;
            }
            .dianxia{
                width: 3px;
                height: 3px;
                border-radius: 50%;
                position: absolute;
                top:156px;
                left:49px;
                background: #B4B4B4;
            }
            .xian{
                width: 1px;
                height: 100px;
                position:absolute;
                top: 57px;
                left:50px;
                background: #4D4D4D;
                
            }
            .shang{
                position: absolute;
                top: 55px;
                left: 90px;
                font-size: 14px;
            }
            .xuxian{
                width: 190px;
                height: 2px;
                position: absolute;
                top:70px;
                left:90px ;   
            }
            .zhong{
                position: absolute;
                top: 96px;
                left:90px;
                font-size: 13px;
            }
            .xia{
                position: absolute;
                left:88px;
                top:125px;
            }
        }
        .footright{
            float: right;
            height: 107px;
            width: 107px;
            background: #24B0FF;
            margin: {
                top: 76px;
            };
        }
    }
    
}