@import "base";
body{
    height: 3000px;
}
.headda{
    @include wh(100%,102px);
    background:#13587F;
    #head{
        width: 1200px;
        height: 102px;
        margin: 0 auto;
        .headleft{
            width: 205px;
            height: 100%;
            background: red;
            float:left;
            margin: {
                left: -233px;
            };
        }
        .headmiddle{
            height: 100%;
            border-color: green;
            float: left;
            margin-left: 27px;
            padding-top: 15px;
            ul{
                width: 175px;
                height: 100%;
                float: left;
                padding: 10px;
                font-size: 15px;
                color:#FFFFFF;
                li{
                    a{
                         color: #FFFFFF;
                    }
                    img{
                        display: block;
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                }
            }
        }
        .headright{
            height: 100%;
            float: right;
            margin-left: 0px;
            padding-top: 30px;
            .headsou{
                width: 300px;
                height: 35px;
                float:left;
            //  border:2px solid #B8C3CE;
                border-radius: 50px;
                .dian{
  
                    float: left;
                    margin-top: 5px;
                    margin-left: 10px;
                    padding-right: 15px;
                }
                .da{
                    float: right;
                    margin-top: 3px;
                    margin-right: 4px;
                }
                #zhen{
                    width:130px;
                    height: 36px;
                    float: left;
                    border: 0;
                    background: none;
                }
            }
         
                .youdian{
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background: #000000;
                    position: absolute;
                    left:182px;
                    top:53px;
                  
                }
            }
            .jiantou{
                width: 0px;
                height: 0px;
                border-top:0;
                border-left:8px solid #13587F ;
                border-bottom: 8px solid #EDF2F5  ;
                border-right:8px solid #13587F ;
                position: absolute;
                left:22px;
                top:52px;
            }
        }
    }
    
}
.headright .headsou{
    width: 340px;
    height: 35px;
    float:left;
    border:2px solid #B8C3CE;
    border-radius: 50px;}
.headright .zuoyuan{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #F0C310;
    border: 2px solid #FFFED7;
