@import"base";
.headda{
     width: 100%;
     background:#13587F;
     height: 102px;
    #head{
        width: $neikuan;
        height: 102px;
        background:#13587F;
        margin: 0 auto;
        .headleft{
            width: 205px;
            height: 100%;
            background: red;
            float:left;
            margin: {
                left:-206px ;
            };
        }
        .headmiddle{
            height: 100%;
            border-color: green;
            float: left;
            margin-left: 27px;
            padding-top: 15px;
            ul{
                width: 175px;
                height: 100%;
                float: left;
                padding: 10px;
                font-size: 15px;
                color:#FFFFFF;
                li{
                    a{
                        color: #FFFFFF;
                    }
                    img{
                        display: block;
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }  
                }
            }
        }
        .headright{
            height: 100%;
            float: right;
            margin-left: 0px;
            padding-top: 30px;
            position: relative;
            .headsou{
                width: 300px;
                height: 35px;
                float:left;
                border:2px solid #B8C3CE;
                border-radius: 50px;
                .dian{
  
                    float: left;
                    margin-top: 5px;
                    margin-left: 10px;
                    padding-right: 15px;
                }
                .da{
                    float: right;
                    margin-top: 3px;
                    margin-right: 4px;
                }
                #zhen{
                    width:130px;
                    height: 36px;
                    float: left;
                    border: 0;
                    background: none;
                }
            }
        }
    }
}

