*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#pinglun{
    width: 1200px;
    margin: 0 auto;
    padding:7px ;
    .content{
        width: 100%px; 
        overflow: hidden;
        padding: {
            top:43px;
            left:14px;
        }
        .dived{
           position: relative; 
           width: 100%px; 
          h3{
              width: 100%;
              border-bottom: 1px solid #EAEAEA;
          } 
          img{
              position: absolute;
              bottom: 0;
              left:25px;
          }
        }
        h4{
            width: 100%;
            font-size: 14px;
            color: #6E6E6E;
            float: right;
            font-weight: 400;
            margin-top: 20px;
            margin-bottom: 5px;
            overflow: hidden;
            text-align: right;
        }
        .xiangqing{
            width: 100%;
            padding-left: 25px;
            overflow: hidden;
            margin-bottom: 50px;
            .touxiang{
                float: left;
            }
            .kuang{
                width: 1013px;
                height: 185px;
                border: 1px solid #EAEAEA;
                border-radius: 5px;
                float: right;
                padding: 20px;
                span{
                    font-size:18px;
                    color:#6C6C6C;
                }
            }
            .user{
                width: 1013px;
                margin-top: 10px;
                float: right;
                overflow: hidden;
                .biaoqing{
                    margin-left:20px ;
                    float: left;
                    a{
                        display: block;
                        width: 25px;
                        height:25px;
                        border-radius: 50%;
                        background: #5DDE9E;
                        float: left;
                    }
                    span{
                        margin-left: 10px;
                        font-size: 12px;
                        color:#6E6E6E;
                    }
                }
                .chongzhi-ping{
                    float: right;
                    img{
                        margin-left: 50px;
                    }
                }
            }
         }  
         .ping-first{
             margin-top: 35px;
             padding-left:20px;
             overflow: hidden;
             border-bottom: 1px solid #E5E5E5;
             .zhaopian{
                 float: left;
                 margin-top:10px;
                 border-radius: 50%;
             }
             .ping-content{
                 width:977px;
                 float: right;
                 line-height: 20px;
                 h3{
                     font-size: 14px;
                     font-weight: 400;
                     float: left;
                 }
                 span{
                     font-size: 12px;
                     color: #6E6E6E;
                     margin-left: 20px;
                 }
                 .floor{
                     float: right;
                     font-size: 20px;
                 }
                 p{
                     margin-top:10px;
                     font-size: 14px;
                     color :#979797;
                 }
                 .huifu{
                     margin:20px 0;
                     margin-right: 50px;
                     font-size: 14px;
                     float: right;
                     a{
                         display: block;
                         color:#90E3F6;
                         margin-left: 50px;
                         float: left;
                     }
                     .shouchang{
                         padding-left: 25px;
                         background: url(../img/img/xin.jpg) no-repeat;
                         background-position-y: 3px;
                     }
                 }
             }
         }
         .ping-two{
             margin-top: 35px;
             padding-left:20px;
             overflow: hidden;
             border-bottom: 1px solid #E5E5E5;
             .zhaopian{
                 float: left;
                 margin-top:10px;
                 border-radius: 50%;
             }
             .ping-content{
                 width:977px;
                 float: right;
                 line-height: 20px;
                 h3{
                     font-size: 14px;
                     font-weight: 400;
                     float: left;
                 }
                 span{
                     font-size: 12px;
                     color: #6E6E6E;
                     margin-left: 20px;
                 }
                 .yinyongneirong{
                     width: 373px;
                     height: 87px;
                     border: 1px solid #E5E5E5;
                     border-radius: 8px;
                     span{
                         float: left;
                     }
                     .pp{
                         width: 250px;
                         height: 53px;
                         float: left;
                         font-size: 14px;
                         margin-left: 5px;
                         p{
                            margin:0; 
                         }
                     }
                 }
                 .floor{
                     float: right;
                     font-size: 20px;
                 }
                 p{
                     margin-top:10px;
                     font-size: 14px;
                     color :#979797;
                 }
                 .huifu{
                     margin:20px 0;
                     margin-right: 50px;
                     font-size: 14px;
                     float: right;
                     a{
                         display: block;
                         color:#90E3F6;
                         margin-left: 50px;
                         float: left;
                     }
                     .shouchang{
                         padding-left: 25px;
                         background: url(../img/img/xin.jpg) no-repeat;
                         background-position-y: 3px;
                     }
                 }
             }
         }
         .ping-three{
             margin-top: 35px;
             padding-left:20px;
             overflow: hidden;
             border-bottom: 1px solid #E5E5E5;
             .zhaopian{
                 float: left;
                 margin-top:10px;
                 border-radius: 50%;
             }
             .ping-content{
                 width:977px;
                 float: right;
                 line-height: 20px;
                 h3{
                     font-size: 14px;
                     font-weight: 400;
                     float: left;
                 }
                 span{
                     font-size: 12px;
                     color: #6E6E6E;
                     margin-left: 20px;
                 }
                 .floor{
                     float: right;
                     font-size: 20px;
                 }
                 p{
                     margin-top:10px;
                     font-size: 14px;
                     color :#979797;
                 }
                 .huifu{
                     margin:20px 0;
                     margin-right: 50px;
                     font-size: 14px;
                     float: right;
                     a{
                         display: block;
                         color:#90E3F6;
                         margin-left: 50px;
                         float: left;
                     }
                     .shouchang{
                         padding-left: 25px;
                         background: url(../img/img/xin.jpg) no-repeat;
                         background-position-y: 3px;
                     }
                 }
                 .f4{
                     margin-top:15px;
                     overflow: hidden;
                     .zhaopian{
                         float: left;
                     }
                     .f41{
                         width:150px;
                         float: left;
                         span{
                             font-size: 15px;
                             color :#080808;
                         }
                         a{
                             margin-top: 5px;
                             margin-left: 20px;
                             font-weight: normal;
                             color:BBBBBB;
                             font-size: 12px;
                         }
                     }
                     .pp{
                         width: 727px;
                         float: right;
                     }
                 }
             }
         }
         .autor{
             float: right; 
             margin-top:20px;
         }
         .pl{
             margin:0 auto;
             margin-top:150px;
             display: block;
             width:450px;
             height: 57px;
             background: #F0C310;
             border-radius: 35px;
             text-align: center;
             line-height: 57px;
             p{
                 color:#fff;
                 font-size: 20px;
             }
         }
    }
}
