@import 'base';
body{
	background:#F4F4F4;
}
.body{
	width:$neikuan;
	margin:0 auto;
	background:#F4F4F4;
}
.sousuo{
    overflow:hidden;
    height:80px;
	.text{
	     width:900px;
	     height:80px;
	     float:left;
	     background:#F4F4F4;
	     border:1px solid #cccccc;
	     font-size:19px;
	     color:#CCCCCC;

	}
	.botton{
         width:178px;
         height:80px;
         background:#40D1F1;
         font-size:19px;
         color:#fff;
         border:1px solid #CCCCCC;
         float:right;
         text-align:center;
         font-family:'微软雅黑';
	}
}
.leibie{
	overflow:hidden;
    margin-top:48px;
	li{
	     width:227px;
	     height:33px;
	     border:1px solid #CCCCCC;
	     float:left;
	     position:relative;
	     line-height:33px;
	     margin:{
	      	right:16px;
	     }
	     a{
	        color:#666666;
	        font-size:12px;
	        margin:{
                left:8px;
	          }

	     }
	     .sanjiao{
		     position:absolute;
		     bottom:3px;
	         right:1px;
	         border:{
	             left:7px solid #fff;
	             right:7px solid #0180CF;
	             top:7px solid #fff;
	             bottom:7px solid #0180CF;
	         }
	     }
	}
	.last{
	     margin:0;
	}

}
.shejishi{
	width:100%;
	height:1024px;
	border:1px solid #CCCCCC;
	overflow:hidden;
	margin-top:51px;
	padding:{
		left:32px;
		right:25px;
	}
	.wangye{
		height:169px;
		border-bottom:1px solid #E6E6E6;
		padding:{
			top:28px;
			bottom:28px;
		}
		.wangye-left{
			width:50%;
			height:100%;
			float:left;
			.wangyeleftone{
				width:114px;
				height:114px;
				display:inline-block;
				float:left;
				margin:{
					right:48px;
				}
			}
			.wz{
				width:390px;
				float:left;
				h1{
					font-size:18px;
					font-weight:normal;
					color:#515151;
					
					margin:{
						bottom:27px;
					}
				}
				p{
					margin:{
						bottom:20px;
					}
					.yx{
						color:#7A7A7A;
						font-size:15px;
						margin-right:11px;
					}
					.num{
						color:#F1CA47;
						font-size:15px;
						margin-right:18px;
					}
					.xl{
						color:#7A7A7A;
						font-size:15px;
						margin-right:18px;
					}
					.jy{
						color:#7A7A7A;
						font-size:15px;
						margin-right:18px;
					}
				}
				.dizi{
					color:#7A7A7A;
					font-size:12px;
				}
			}
		}

		.wangye-right{
			.wz{
				padding:{
					left:46px;
				}
				border:{
					left:1px solid #E6E6E6;
				}
				position:relative;
				width:390px;
				float:left;
				h1{
					font-size:18px;
					font-weight:normal;
					color:#515151;
					
					margin:{
						bottom:27px;
					}
				}
				p{
					color:#7A7A7A;
					font-size:15px;
					margin:{
						bottom:18px;
					}
				}
				.gezi{
					a{
						display:inline-block;
						width:58px;
						height:22px;
						border:1px solid #CCCCCC;
						border-radius:3px;
						color:#7A7A7A;
						font-size:12px;
						text-align:center;
						line-height:22px; 
						margin-left:4px;
					}
				}
			}
			.anniu{
					position:absolute;
					top:25px;
					right:25px;
			    a{
			    	display:inline-block;
					width:138px;
					height:42px;
					border:1px solid #CCCCCC;
					border-radius:5px;
					color:#fff;
					font-size:18px;
					text-align:center;
					line-height:42px; 
					background:#40D1F1;
			    }
			}
		}
	}
		.wangye:nth-child(1){
			.wangye-left{
				.wangyeleftone{
					background:url($img-url+'zwlbimg/1.png') no-repeat;
				}
			}
			
		}
		.wangye:nth-child(2){
			.wangye-left{
				.wangyeleftone{
					background:url($img-url+'zwlbimg/2.png') no-repeat;
				}
			}
			
		}
		.wangye:nth-child(3){
			.wangye-left{
				.wangyeleftone{
					background:url($img-url+'zwlbimg/3.png') no-repeat;
					background-position:100% 100%;
					overflow:hidden;
				}
			}
			
		}
		.wangye:nth-child(4){
			.wangye-left{
				.wangyeleftone{
					background:url($img-url+'zwlbimg/4.png') no-repeat;
				}
			}
		}
		.wangye:nth-child(5){
			.wangye-left{
				.wangyeleftone{
					background:url($img-url+'zwlbimg/4.png') no-repeat;
				}
			}
		}
}
.ye{
	height:177px;
	margin:0 auto;
	.yenum{
		padding:{
			top:78px;
			left:340px;
		}
		.shouye{
			font-size:16px;
			float:left;
			margin-right:11px;
            a{
            	color:#999999;
            }
		}
		.numb{
			width:22px;
			height:22px;
			float:left;
			display:inline-block;
			border:1px solid #CCCCCC;
			margin-right:11px;
			text-align:center;
			line-height:22px;
			a{
            	color:#999999;
            }
		}
		.shang{
			font-size:16px;
			float:left;
			margin-right:11px;
			
			a{
            	color:#999999;
            }
		}
		.kuang{
			width:38px;
			height:22px;
			float:left;
			margin-right:11px;
			border:1px solid #CCCCCC;
		}
	}
}
.qiye{
	padding-top:74px;
	height:373px;
	margin-bottom:145px;
	.tujian{
		margin-top:63px;
		height:280px;
		.tujianqiye{
			margin-right:29px;
			border-radius:10px;
			width:278px;
			height:279px;
			float:left;
			position:relative;
			color:#fff;
			overflow:hidden;
			.hid{
				width:278px;
				height:279px;
				position:absolute;
				top:0;
				left:0;
				z-index:3;
				padding-top:49px;
				border:1px solid #BCBDBC;
				background:rgba(0,0,0,0.8);
				opacity:0;	
			}
		}
		.tujianqiye:hover .hid{
			opacity:1;
		}
		.last{
			margin-right:0;
		}
	}
}

.hid{
	.span{
		font-size:17px;
		text-align:center;
		display:block;
		color:#fff;
	}
	.xian{
		width:34px;
		height:1px;
		display:block;
		margin:{
			left:120px;
			top:20px;
		}
		background:#fff;
		text-align:center;
		line-height:37px;
	}
	p{
		padding:{
			left:28px;
			right:28px;
		}
		text-indent:2em;
		font-size:13px;
		color:#fff;
	}
	.more{
		border:1px solid #fff;
		border-radius:3px;
		width:123px;
		height:34px;
		margin:43px auto;
		text-align:center;
		line-height:34px;

		a{
			color:#fff;
			b{
				font-size:10px;
				color:#fff;
			}
			span{
				font-size:10px;
				color:#fff;
			}
		}
	}
}
.cenav{
	width:49px;
	height:998px;
	background:#242629;
	position:fixed;
	top:0;
	right:0;
	z-index:1000;
	.cenav1{
		width:35px;
		height:469px;
		margin:0 auto;
		li{
			width:35px;
			height:35px;
			margin-bottom:45px;
			a{
				width:35px;
				display:block;
				height:35px;
				border-radius:50%;
				background:#2A2E34;
			}
			.first{
				background:#10C8F0;
			}
		}
	}
}
